.navbar {
  margin-top: 1.5%;
  margin-left: 10%;
  margin-right: 10%;
}

ul.justify-content-center .nav-link {
  font-size: 20px; /* Adjust the font size as needed */
  margin-right: 2vw; /* 2% of the viewport width */
  margin-left: 2vw; /* 2% of the viewport width */
}
.header {
  background-size: cover;
  background-position: center;
  height: 100vh; /* Set header height to full viewport height */
}