header {
  background: url("/img/banner-image-2.jpg");
  background-size: cover;
  height: 100vh;
  /* Set header height to full viewport height */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

 .navbar{

}

.nav-item{
  list-style: none;
} 

.nav-mid .nav-item{
} 

.nav-link{
  font-size: 1rem;
  text-decoration: none;
}

.nav-mid .nav-link{
  color: rgb(10, 7, 68);
} 
.nav-right .nav-link{
  color: rgb(2, 15, 15);
} 
